---
title: jknox.b3x9
layout: layouts/home.njk
description: Notes, Docs and Links.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  welcome to my page on jknox.b3x9!
  b3x9 is a portfolio hosting site for cyber and infosec professionals.
</p>
  
  <br>click here to sign up! 

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>